@import "config";

.google-map {
  background-color: $grey;
  @include flex;
  padding: 15px 0;
  i {
    position: relative;
    left: -25px;
    padding-bottom: 3px;
  }
}

.hero {
  background-color: rgb(245, 245, 245);
  padding: 40px 0 80px;

  &__content {
    max-width: 350px;
    margin: auto;
    text-align: center;
    h1 {
      max-width: 250px;
      margin: 0 auto 15px;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 45px;
    }
  }
}

.fonctionnement {
  padding: 50px 0 45px;
  .cards {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
      width: 100%;
      max-width: 330px;
      border-radius: 15px;
      background-color: $lightGrey;
      margin-bottom: 20px;
      padding: 25px 10px;
      text-align: center;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);

      .card__content {
        @include flex;
        position: relative;
        font-weight: 500;
        .card__number {
          position: absolute;
          left: -22px;
          color: white;
          font-size: 14px;
          font-weight: 400;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          background: $primary;
          @include flex;
        }
        span {
          position: relative;
        }
        i {
          position: absolute;
          color: grey;
          font-size: 20px;
        }
        .choose {
          padding-left: 10px;
          i {
            left: -15px;
          }
        }
        .compose {
          padding-right: 4px;
          i {
            left: -30px;
          }
        }

        .degust i {
          left: -35px;
        }
      }
    }
  }
}

.restaurants {
  background-color: rgb(245, 245, 245);
  padding: 50px 0;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
      width: 100%;
      border-radius: 12px;
      background-color: white;
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      &__new {
        border-radius: 3px;
        background-color: $tertiary;
        color: #6ea799;
        font-size: 15px;
        width: 80px;
        text-align: center;
        padding: 5px 0;
        position: absolute;
        right: 5px;
        top: 10px;
      }
      &__img {
        height: 175px;
      }
      #palette {
        background: url("../img/restaurants/palette.jpg") center no-repeat;
        background-size: cover;
      }

      &__body {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        p {
          font-weight: 300;
        }
        .card__heart {
          padding: 5px;
          i {
            font-size: 25px;
          }
          .fas {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .restaurants {
    .card {
      max-width: 400px;
    }
  }
}

// a:hover .card__heart {
//   span {
//     background-clip: text;
//     -webkit-background-clip: text;
//     background-color: red;
//     i {
//       color: transparent;
//     }
//   }
// }
