@import "config";

body {
  font-family: $rob;
}

.spinner {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  color: white;
  animation: 10s spinner normal 1;
  animation-fill-mode: forwards;
  font-size: 60px;
  font-family: $shr;
  // display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  i {
    animation: 10s loading;
  }
}

@keyframes spinner {
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: $shr;
}

h2 {
  font-weight: 500;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
  background: linear-gradient(170deg, #ff79da, #9356da);
  transition: all 0.3s ease-in-out;
  color: white;
  padding: 15px 25px;
  font-weight: 400;
  &:hover {
    opacity: 0.8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  }
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 0px 20px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
  position: relative;
  z-index: 99;
  padding: 15px 0;
  h1 {
    text-align: center;
  }
}

footer {
  padding: 20px 0;
  background-color: rgb(47, 47, 47);
  a {
    color: white;
  }
  .logo {
    font-family: "Shrikhand", cursive;
    display: inline-block;
    margin-bottom: 20px;
  }
  ul li {
    margin-bottom: 8px;
    font-weight: 300;
    i {
      font-size: 12px;
    }
    span {
      padding-left: 5px;
      font-weight: 400;
    }
  }
}

@media (min-width: 992px) {
  footer ul {
    display: flex;
    max-width: 600px;
    justify-content: space-between;
  }
}

.card__heart {
  padding: 5px;
  position: relative;
  z-index: 100;
  cursor: pointer;
  i {
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  .far {
    font-size: 26px;
    left: -20px;
  }
  .fas {
    color: white;
    left: -19px;
    font-size: 24px;
    top: 6px;
  }
  &:hover i {
    color: $primary;
  }
}
