@import "config";

.container {
  padding: 0px 15px;
}

header {
  h1 {
    position: relative;
    i {
      font-size: 20px;
      position: absolute;
      left: 0px;
      top: 15px;
    }
  }
}

#francaise {
  background: url("../img/restaurants/francaise.jpg") center no-repeat;
}

#palette {
  background: url("../img/restaurants/palette.jpg") center no-repeat;
}

#francaise,
#palette {
  background-size: cover;
}

.hero {
  height: 50vh;
  max-height: 800px;
  position: relative;
  .title {
    @extend .container;
    position: absolute;
    width: 100%;
    bottom: -15px;
    border-radius: 30px 30px 0 0;
    padding: 30px 0 0;
    background-color: $lightGrey;
    display: flex;
    justify-content: space-between;
    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      h2 {
        font-family: $shr;
        font-size: 28px;
        margin-bottom: 0;
      }
    }
  }
}

main {
  background-color: $lightGrey;
  padding: 45px 0 80px;
  section {
    max-width: 330px;
    margin: 0 auto 30px;
    h3 {
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 10px;
      &::after {
        content: "";
        display: block;
        margin-top: 5px;
        height: 3px;
        width: 45px;
        background-color: $tertiary;
      }
    }
    .card {
      position: relative;
      padding: 15px 25px 10px 10px;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      overflow: hidden;
      cursor: pointer;
      transform: translateY(10px);
      opacity: 0;
      animation: 1.5s fonduOne;
      animation-fill-mode: forwards;
      &--two {
        animation-delay: 0.5s;
      }
      &--three {
        animation-delay: 1s;
      }

      h4 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        max-width: 100%;
        transition: $transLong;
        max-height: 21px;
        overflow: hidden;
      }
      &__infos {
        position: relative;
        display: flex;
        transition: $transLong;
        max-width: 100%;
        // overflow: hidden;
        // justify-content: space-between;
        p {
          font-size: 15px;
          padding-right: 10px;
          font-weight: 300;
          // max-height: 18px;
          overflow: hidden;
          width: 90%;
          // word-break: break-all;
          // word-break: break-all;
        }
        // .hidden {
        //   // display: none;
        //   visibility: hidden;
        //   // position: absolute;
        //   // right: 40px;
        //   transition: $transLong;
        // }
        .card__price {
          display: flex;
          align-items: flex-end;
          font-weight: 500;
          width: 10%;
        }
      }
      &__validator {
        position: absolute;
        background-color: $tertiary;
        width: 20%;
        height: 100%;
        transition: $transLong;
        top: 0;
        right: -20%;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
          content: "\f00c";
          font-family: "Font Awesome 5 Free";
          height: 25px;
          width: 25px;
          vertical-align: middle;
          font-weight: 600;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: $tertiary;
          transform: rotateZ(90deg);
          transition: all 0.4s ease-in-out;
          transition-delay: 0.3s;
        }
      }
      &:hover .card__infos,
      &:hover h4 {
        max-width: 80%;
      }
      &:hover .card__validator {
        transform: translateX(-100%);
        &::before {
          transform: rotateZ(360deg);
        }
      }
      // &:hover .card__infos span {
      //   visibility: visible;
      //   padding-right: 10px;
      //   // display: inline-block;
      // }
    }
  }
  .command {
    text-align: center;
    margin-top: 50px;
  }
}
@keyframes fonduOne {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (min-width: 375px) {
  main section .card__infos p {
    max-height: 19px;
    word-break: break-all;
  }
}

@media (min-width: 992px) {
  main {
    padding-top: 70px;
  }
  // .row {
  //   display: flex;
  //   margin-left: -15px;
  //   margin-right: -15px;
  //   section {
  //     width: 33.3%;
  //     padding-left: 15px;
  //     padding-right: 15px;
  //   }
  // }
}

.btn__container {
  text-align: center;
}
