* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.container, .hero .title {
  padding: 0px 15px;
}

header h1 {
  position: relative;
}

header h1 i {
  font-size: 20px;
  position: absolute;
  left: 0px;
  top: 15px;
}

.hero {
  height: 50vh;
  max-height: 800px;
  position: relative;
}

.hero .title {
  position: absolute;
  width: 100%;
  bottom: -15px;
  border-radius: 30px 30px 0 0;
  padding: 30px 0 0;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .title .container, .hero .title .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.hero .title .container h2, .hero .title .title h2 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  margin-bottom: 0;
}

main {
  background-color: whitesmoke;
  padding: 45px 0 80px;
}

main section {
  max-width: 330px;
  margin: 0 auto 30px;
}

main section h3 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}

main section h3::after {
  content: "";
  display: block;
  margin-top: 5px;
  height: 3px;
  width: 45px;
  background-color: #99e2d0;
}

main section .card {
  position: relative;
  padding: 15px 25px 10px 10px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  -webkit-animation: 1.5s fonduOne;
          animation: 1.5s fonduOne;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main section .card--two {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

main section .card--three {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main section .card--four {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

main section .card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .card__title h4 {
  padding-right: 10px;
}

main section .card__title .hidden {
  font-size: 18px;
}

main section .card h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  max-width: 100%;
  -webkit-transition: max-width 0.7s ease-in-out;
  transition: max-width 0.7s ease-in-out;
  max-height: 21px;
  overflow: hidden;
  word-break: break-all;
}

main section .card__infos {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: max-width 0.7s ease-in-out;
  transition: max-width 0.7s ease-in-out;
  max-width: 100%;
}

main section .card__infos p {
  font-size: 14px;
  padding-right: 10px;
  font-weight: 300;
  overflow: hidden;
  width: 90%;
  word-break: break-all;
}

main section .card__infos .card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 500;
  width: 10%;
}

main section .card .hidden {
  font-size: 14px;
  display: none;
  font-weight: 300;
}

main section .card__validator {
  position: absolute;
  background-color: #99e2d0;
  width: 20%;
  height: 100%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  top: 0;
  right: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .card__validator::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  height: 25px;
  width: 25px;
  vertical-align: middle;
  font-weight: 600;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #99e2d0;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

main section .card:hover .card__infos,
main section .card:hover h4 {
  max-width: 80%;
}

main section .card:hover .card__infos p,
main section .card:hover .card__title h4 {
  padding-right: 0;
}

main section .card:hover .card__validator {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

main section .card:hover .card__validator::before {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

main section .card:hover .hidden {
  display: inline-block;
  padding-right: 10px;
}

main .command {
  text-align: center;
  margin-top: 50px;
}

@-webkit-keyframes fonduOne {
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fonduOne {
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@media (min-width: 320px) {
  main section .card__infos p {
    max-height: 18px;
    word-break: break-all;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  main section .card__infos p {
    font-size: 12px;
    max-height: 14px;
  }
  main section .card__price {
    font-size: 14px;
  }
  main section h4 {
    font-size: 15px !important;
    max-height: 18px !important;
  }
}

@media (min-width: 992px) {
  main {
    padding-top: 70px;
  }
}

.btn__container {
  text-align: center;
}
/*# sourceMappingURL=restaurant.css.map */